body {
	margin: 0;
	padding: 0;
	background-color: #ECECEC;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.fade-in {
	opacity: 0;
	animation: fadeIn 0.3s ease-in ;
	animation-fill-mode: forwards;
}

#starting-info {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10000;
	background-color: rgba(0,0,0,0.3);
}

#starting-info p {
	font-size: 2.5rem;
	padding: 10%;
	color: #fff;
}

h1 {
	color: #64b5f6;
	text-transform: uppercase;
	font-size: 5rem;
	margin: 0;
	padding: 30px 0 60px 0;
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#gameArea {
	background-color: white;
	border: 4px solid #64b5f6;
}

#game-container {
	position: relative;
}

#score-container {
	color: #64b5f6;
	font-size: 1.1rem;
	border: 4px solid #64b5f6;
	padding: 5px;
	margin: 0;
	background-color: #fff;
	position: absolute;
	top: -45px;
	left: 0;
}

#score {
	font-weight: bold;
	font-size: 1.3rem;
}

#game-over {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10000;
	background-color: rgba(0,0,0,0.3);
}

#game-over h3 {
	font-size: 6rem;
	color: #ea6b20;
	margin: 0px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	animation: scaleUp 1s ease-in;
}


#game-over #reason-lost {
	color: #64b5f6;
	font-size: 1.8rem;
	margin: 10px;
	animation-delay: 2s;
}

#game-over p {
	color: #fff;
	font-size: 2.3rem;
	animation-delay: 2.5s;
}
#game-over button {
	background-color: #ea6b20;
	box-shadow: none;
	color: #fff;
	font-size: 1.2rem;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	border: 3px solid #ea6b20;
	animation-delay: 3s;
}

#game-over button:hover {
	background-color: #db5c10;
	border: 3px solid #fff;
}



@keyframes scaleUp {
	from { transform: scale(0); }
	to 	 { transform: scale(1); }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}