body {
	margin: 0;
	padding: 0;
	background-color: #ECECEC;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.flex-align {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fade-in {
	opacity: 0;
	animation: fadeIn 0.3s ease-in ;
	animation-fill-mode: forwards;
}


/* Display Starting Infos */

#starting-info {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 100;
	background-color: rgba(0,0,0,0.3);
	box-sizing: border-box;
}

#starting-info p {
	font-size: 2.5rem;
	padding: 10%;
	color: #fff;
}

h1 {
	color: #64b5f6;
	text-transform: uppercase;
	font-size: 3rem;
	margin: 0;
	padding: 30px 0 60px 0;
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* Display Game Area */
#gameArea {
	background-color: white;
	border: 4px solid #64b5f6;
	overflow: visible;
}

#game-container {
	position: relative;
}

#score-container, #best-score-container {
	color: #64b5f6;
	font-size: 1.1rem;
	border: 4px solid #64b5f6;
	padding: 5px;
	margin: 0;
	background-color: #fff;
	position: absolute;
	top: -45px;
}

#score-container {
	left: 0;
}

#best-score-container {
	right: 0;
}
#score {
	font-weight: bold;
	font-size: 1.3rem;
}



#audio-controller {
	display: flex;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 150;
}

#audio-icon {
	background-image: url('../assests/img/sound.png');
	height: 20px;
	width: 20px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.audio-control {
	cursor: pointer;
	margin-right: 5px;
}

.audio-bar {
	width : 5px;
	height: 20px;
	background-color: #c6c6c6;
	border-radius: 2.5px;
}

.audio-bar.active {
	background-color: #64b5f6;
}

#display-best-scores {
	background-color: #ea6b20;
	position: absolute;
	top: 30px;
	right: 30px;
	border: none;
	padding: 15px;
	border-radius: 2px;
	text-transform: uppercase;
	color: #fff;
	z-index: 300;
	cursor: pointer;
	transition: 0.3s;
}

#display-best-scores:hover {
	background-color: #d85b11;
}

/* Display Record Score */
#save-score-form {
	display: none;
	height: 50vh;
	background-color: #64b5f6;
	color: #fff;
	border: 3px solid #fff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	position: absolute;
	z-index: 300;
}

#save-score-form>p:nth-of-type(1) {
	font-size: 1.5rem;
	margin-bottom: 50px;
	text-transform: uppercase;
}

#save-score-form>div {
	width: 100%;
}

#save-score-form p {
	width: 100%;
	text-align: center;
	margin-top: 0;
	font-size: 1.2rem;
	margin-bottom: 20px;
}

#save-score-form input[type="text"] {
	background-color: #cee9ff;
	color: #6F6F6F;
	box-shadow: none;
	border: none;
	padding: 5px 10px;
	text-align: left;
	font-size: 1.2rem;
	margin-left: 20px;
}

#save-score-form input[type="submit"] {
	background-color: #ea6b20;
	padding: 10px;
	width: 100%;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1rem;
}


/* Display best scores */
#scores-container {
	display: none;
	position: absolute;
	flex-direction: column;
	z-index: 200;
	height: 70vh;
	width: 80%;
	top: 50%;
	left: 50%;
	transform:  translateX(-50%) translateY(-50%);
	background-color: #64b5f6;
	padding: 5% 10%;
	color: #FFF;
}

#scores-container h3 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 1.5rem; 
	margin: 0 0 10px 0;
}

#players-scores {
	padding: 0;
}

#players-scores li {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E7E7E7;
	margin-bottom: 15px;
}

#players-scores li p {
	margin: 5px 0;
}


/* Display Game Over */
#game-over {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 100;
	background-color: rgba(0,0,0,0.3);
}

#game-over h3 {
	font-size: 6rem;
	color: #ea6b20;
	margin: 0px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	animation: scaleUp 1s ease-in;
}


#game-over #reason-lost {
	color: #64b5f6;
	font-size: 1.8rem;
	margin: 10px;
	animation-delay: 2s;
}

#game-over p {
	color: #fff;
	font-size: 2.3rem;
	animation-delay: 2.5s;
}
#game-over button {
	background-color: #ea6b20;
	box-shadow: none;
	color: #fff;
	font-size: 1.2rem;
	padding: 10px 20px;
	margin: 0 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	border: 3px solid #ea6b20;
	animation-delay: 3s;
}

#game-over button:hover {
	background-color: #db5c10;
	border: 3px solid #fff;
}


/* Animations */
@keyframes scaleUp {
	from { transform: scale(0); }
	to 	 { transform: scale(1); }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}